@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap');

@layer components {
  .navbar-item {
    @apply customTransition duration-500 ease-in-out h-fit text-lg py-2 px-3 cursor-pointer hover:bg-blue-100 hover:scale-110 hover:w-fit rounded-3xl hover:mx-2;
  }
  
  .active-navbar-item {
    @apply customTransition duration-500 mx-3 ease-in-out scale-115 bg-blue-200 h-fit text-lg py-2 px-3 cursor-pointer rounded-3xl;
  }

  .description-text {
    @apply text-lg leading-5 mt-4
  }
}

@layer utilities {
  .customTransition {
    transition-property: background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter, margin-right, margin-left
  }

  .scale-115 {
    --tw-scale-x: 1.15;
    --tw-scale-y: 1.15;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .h-15-vh {
    height: 15vh;
  }

  .h-85-vh {
    height: 85vh;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
