@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');

@layer base {
  html {
    scroll-behavior: smooth !important;
  }
}

@layer components {
  .navbar-item {
    @apply custom-transition duration-300 ease-in-out h-fit text-lg py-2 px-3 cursor-pointer hover:text-custom-blue hover:scale-110 rounded-lg hover:mx-2;
  }

  .active-navbar-item {
    @apply custom-transition duration-300 ease-in-out mx-3 scale-115 text-custom-blue h-fit text-lg py-2 px-3 cursor-pointer;
  }

  .subtitle-text {
    @apply text-3xl leading-5 text-custom-blue font-semibold;
  }

  .description-text {
    @apply text-xl leading-5 text-custom-black font-medium;
  }

  .styled-button {
    @apply custom-transition duration-300 ease-in-out h-fit text-lg font-semibold py-2 px-3 cursor-pointer rounded-lg bg-custom-teal hover:scale-105 hover:w-fit hover:shadow-md;
  }

  .work-experience-card {
    @apply custom-transition duration-300 flex flex-col h-fit shadow-md p-5 w-[420px] hover:shadow-xl rounded-lg bg-custom-teal bg-opacity-25 hover:scale-105;
  }

  .about-me-li-item {
    @apply custom-transition duration-300 ease-in-out rounded-md text-2xl leading-7 font-medium mt-2 cursor-default hover:scale-105 hover:bg-custom-teal hover:bg-opacity-25;
  }

  .work-experience-li-item {
    @apply text-lg;
  }

  .responsibilities-hidden {
    @apply custom-transition delay-300 duration-300 max-h-[0] overflow-hidden opacity-0;
  }

  .responsibilities {
    @apply custom-transition delay-300 duration-500 max-h-[600px] overflow-hidden;
  }

  .hover-me-text {
    @apply custom-transition delay-300 duration-300 max-h-[25px] mt-2.5;
  }

  .hover-me-text-hidden {
    @apply custom-transition delay-300 duration-500 mt-2.5 max-h-0 opacity-0;
  }
}

@layer utilities {
  .custom-transition {
    transition-property:
      background-color,
      border-color,
      text-decoration-color,
      fill,
      stroke,
      opacity,
      box-shadow,
      transform,
      filter,
      backdrop-filter,
      -webkit-backdrop-filter,
      margin-right,
      margin-left,
      max-height,
      visibility;
  }

  .scale-115 {
    --tw-scale-x: 1.15;
    --tw-scale-y: 1.15;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .h-15-vh {
    height: 15vh;
  }

  .h-85-vh {
    height: 85vh;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
