@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');

@layer base {
  html {
    scroll-behavior: smooth !important;
  }
}

@layer components {
  .navbar {
    @apply fixed 
    flex
    w-screen
    justify-between
    space-x-5
    items-center
    px-16
    z-50
    h-[8vh]
    bg-white
    bg-opacity-80 
    shadow-xl
    backdrop-blur-sm

    lg:hidden;
  }

  .mobile-navbar {
    @apply min-lg:hidden 
    fixed
    flex
    items-end
    py-2
    px-5
    z-20
    w-full
    
    shadow-xl
    bg-custom-mint
    backdrop-blur-sm 
    bg-opacity-80;
  }

  .mobile-title {
    @apply w-[48px] h-[48px]
    flex justify-center items-center;
  }

  .burger-svg {
    @apply fixed 
    z-40
    right-0
    top-0
    py-2
    px-5;
  }

  .dropdown-menu {
    @apply dropdown-menu-common
    max-h-full;
  }

  .dropdown-menu-hidden {
    @apply dropdown-menu-common
    delay-300
    max-h-0;
  }

  .navbar-item {
    @apply navbar-item-common
    betterhover:hover:text-custom-blue
    betterhover:hover:scale-110
    rounded-lg
    betterhover:hover:mx-2;
  }

  .active-navbar-item {
    @apply navbar-item-common
    mx-3
    scale-115
    text-custom-blue;
  }

  .subtitle-text {
    @apply text-3xl leading-5 text-custom-blue font-semibold;
  }

  .description-text {
    @apply text-xl leading-5 text-custom-black font-medium;
  }

  .styled-button {
    @apply styled-button-common
    delay-500
    duration-300
    bottom-[120px];
  }

  .styled-button-hidden {
    @apply styled-button-common

    duration-300

    lg:bottom-[-120px];
  }

  .work-experience-card {
    @apply custom-transition
    duration-300
    flex
    flex-col
    h-fit
    shadow-md
    p-5
    w-[420px]
    betterhover:hover:shadow-xl
    rounded-lg
    bg-custom-teal
    bg-opacity-25
    betterhover:hover:scale-105
    
    sm:max-w-[85vw];
  }

  .about-me-li-item {
    @apply custom-transition
    duration-300
    ease-in-out
    rounded-md
    text-2xl
    leading-7
    font-medium
    mt-2
    cursor-default
    betterhover:hover:scale-105
    betterhover:hover:bg-custom-teal
    betterhover:hover:bg-opacity-25;
  }

  .work-experience-li-item {
    @apply text-lg;
  }

  .responsibilities-hidden {
    @apply custom-transition
    delay-300
    duration-300
    max-h-[0]
    overflow-hidden
    opacity-0;
  }

  .responsibilities {
    @apply custom-transition delay-300 duration-500 max-h-[600px] overflow-hidden;
  }

  .hover-me-text {
    @apply custom-transition delay-300 duration-300 max-h-[25px] mt-2.5;
  }

  .hover-me-text-hidden {
    @apply custom-transition delay-300 duration-500 mt-2.5 max-h-0 opacity-0;
  }
}

@layer utilities {
  .custom-transition {
    transition-property:
      background-color,
      border-color,
      text-decoration-color,
      fill,
      stroke,
      opacity,
      box-shadow,
      transform,
      filter,
      backdrop-filter,
      -webkit-backdrop-filter,
      margin-right,
      margin-left,
      max-height,
      bottom,
      visibility;
  }

  .dropdown-menu-common {
    @apply min-lg:hidden
    overflow-hidden
    custom-transition
    duration-500
    ease-in-out
    fixed
    flex
    flex-col
    items-center
    justify-center
    w-screen
    bg-custom-mint
    backdrop-blur-sm 
    bg-opacity-80
    z-30
    h-screen;
  }

  .navbar-item-common {
    @apply custom-transition
    duration-300
    ease-in-out
    h-fit
    text-lg
    py-2 px-3
    whitespace-nowrap
    cursor-pointer;
  }

  .styled-button-common {
    @apply custom-transition

    ease-in-out
    h-fit
    text-lg
    font-semibold
    py-2
    px-3
    cursor-pointer
    rounded-lg
    bg-custom-teal
    betterhover:hover:scale-105
    betterhover:hover:w-fit
    betterhover:hover:shadow-md
    
    lg:fixed;
  }

  .scale-115 {
    --tw-scale-x: 1.15;
    --tw-scale-y: 1.15;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .h-15-vh {
    height: 15vh;
  }

  .h-85-vh {
    height: 85vh;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* css for burger button */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
